# RFM Analysis

In [ ]:
# Import libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
# Mount GDrive's folders
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
# This code imports a library "os" that allows file navigation
import os
# This code sets the home directory
# Find your folder and put the path here as a string
os.chdir('/content/drive/My Drive/Eskwelabs_C14/Sprint1')

## Add any of the following columns to the dataset:

*   age (using dob, as of Jan 1, 2022)
*   time of day [morning, afternoon, evening] (using trans_datettime)
*   season [summer, holiday, etc] (using trans_datettime)

*Trick*: Pandas has its own methods for dates. We just need to convert it using `pd.to_datetime`.

,acct_num,gender,city,job,dob
0,7.980000e+11,M,Dasmarinas,Chartered loss adjuster,12/12/1958
1,9.680000e+11,M,Digos,"Administrator, charities/voluntary organisations",31/08/1970
2,6.280000e+11,M,Calapan,Financial controller,23/07/1953
3,2.570000e+11,M,Laoag,Dance movement psychotherapist,11/01/1954
4,5.400000e+11,M,City of Paranaque,"Engineer, water",31/07/1961
...,...,...,...,...,...
13309,1.690000e+11,M,Iloilo,Land/geomatics surveyor,10/04/1969
16667,9.600000e+11,M,Lucena,Interpreter,01/06/1957
18133,2.360000e+11,M,Pagadian,Land/geomatics surveyor,14/09/1961
22875,1.380000e+11,M,Marikina City,Youth worker,05/09/1954
40423,9.250000e+11,M,Tuguegarao,Air cabin crew,06/12/1955

<class 'pandas.core.frame.DataFrame'>
Index: 94 entries, 0 to 40423
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   acct_num    94 non-null     float64
 1   gender      94 non-null     object
 2   city        94 non-null     object
 3   job         94 non-null     object
 4   dob         94 non-null     object
 5   birth_date  94 non-null     datetime64[ns]
 6   age         94 non-null     int64
dtypes: datetime64[ns](1), float64(1), int64(1), object(4)
memory usage: 5.9+ KB

,acct_num,gender,city,job,dob,birth_date,age
0,7.980000e+11,M,Dasmarinas,Chartered loss adjuster,12/12/1958,1958-12-12,63
1,9.680000e+11,M,Digos,"Administrator, charities/voluntary organisations",31/08/1970,1970-08-31,51
2,6.280000e+11,M,Calapan,Financial controller,23/07/1953,1953-07-23,68
3,2.570000e+11,M,Laoag,Dance movement psychotherapist,11/01/1954,1954-01-11,67
4,5.400000e+11,M,City of Paranaque,"Engineer, water",31/07/1961,1961-07-31,60

None

,acct_num,gender,city,job,dob,birth_date,age,generation,age_group
0,7.980000e+11,M,Dasmarinas,Chartered loss adjuster,12/12/1958,1958-12-12,63,BABY_BOOMER,LATE_ADULTHOOD
1,9.680000e+11,M,Digos,"Administrator, charities/voluntary organisations",31/08/1970,1970-08-31,51,GEN_X,LATE_ADULTHOOD
2,6.280000e+11,M,Calapan,Financial controller,23/07/1953,1953-07-23,68,BABY_BOOMER,SENIORS
3,2.570000e+11,M,Laoag,Dance movement psychotherapist,11/01/1954,1954-01-11,67,BABY_BOOMER,SENIORS
4,5.400000e+11,M,City of Paranaque,"Engineer, water",31/07/1961,1961-07-31,60,BABY_BOOMER,LATE_ADULTHOOD

age_group
LATE_ADULTHOOD      47
SENIORS             47
MINORS               0
EARLY_ADULTHOOD      0
MIDDLE_ADULTHOOD     0
Name: count, dtype: int64

generation
BABY_BOOMER    55
GEN_X          19
SILENT_GEN     17
GREATEST        3
MILLENIAL       0
GEN_Z           0
GEN_ALPHA       0
Name: count, dtype: int64

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 92432 entries, 0 to 92431
Data columns (total 14 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   cc_num          92432 non-null  float64
 1   gender          92432 non-null  object
 2   city            92432 non-null  object
 3   city_pop        92432 non-null  int64
 4   job             92432 non-null  object
 5   dob             92432 non-null  object
 6   acct_num        92432 non-null  float64
 7   acct_num2       92432 non-null  int64
 8   trans_num       92432 non-null  object
 9   unix_time       92432 non-null  int64
 10  category        85391 non-null  object
 11  amt             92432 non-null  float64
 12  trans_datetime  92432 non-null  datetime64[ns]
 13  amt_php         92432 non-null  float64
dtypes: datetime64[ns](1), float64(4), int64(3), object(6)
memory usage: 9.9+ MB

time_of_day
Evening      39984
Afternoon    27630
Morning      24818
Name: count, dtype: int64

season
Rainy      49819
Summer     22835
Holiday    19778
Name: count, dtype: int64